<!doctype html>
<style>
</style>

<link rel='stylesheet' href='style-2.css' />

<div id='main-popup'>
  <div id='timer-container'>
    <span id='hours' title='hours' class='editable'>00</span><span class='colon'>:</span><span id='minutes' title='minutes' class='editable'>00</span><span class='colon'>:</span><span id='seconds' title='seconds' class='editable'>00</span>
  </div>

  <div id='nav' class='form-inline'>
    <div class='btn-group'>
      <a class='btn btn-success' id='start_button'>start</a>
      <a class='btn' id='reset_button'>reset</a>
    </div>
    <!-- <button id='start_button'>start</button> -->
    <label class='checkbox'>
      <input type='checkbox' id='alarm_check' title='play an audible alarm' /> alarm
    </label>
  </div>

  <!-- <div id='logo'>timer</div> -->
</div>

<script src='lib/jquery-1.8.3.min.js'></script>
<script src='scripts/load_timer.js'> </script>

